<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="rhino" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${rhino.home}/logs/veriteServiceLayer.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework">
		<level value="WARN" />
		<appender-ref ref="rhino" />
	</logger>

	<logger name="org.hibernate">
		<level value="DEBUG" />
		<appender-ref ref="rhino" />
	</logger>

	<logger name="com.rhino">
		<level value="DEBUG" />
		<appender-ref ref="rhino" />
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="console" />
		<appender-ref ref="rhino" />
	</root>

</log4j:configuration>